@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #60a5fa;
  --background: #e2e8f0;
}

.darkmode {
  --primary: #1e3a8a;
  --background: #1e293b;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    170deg,
    var(--primary) 0,
    var(--primary) 60%,
    var(--background) 60%,
    var(--background) 80%
  );
}

#themebutton {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 50px;
  height: auto;
  top: 2%;
  right: 1%;
  cursor: pointer;
}

svg {
  transition: transform 0.3s ease;
  fill: white;
}

svg:hover {
  transform: scale(1.2);
}
